$editor-foreground: var(--vscode-editor-foreground);
$editor-background: var(--vscode-editor-background);
$button-foreground: var(--vscode-button-foreground);
$button-background: var(--vscode-button-background);
$padding: 6px;

