@charset 'utf-8';
@import 'variables';
@import 'colors';

.button {
    padding: $padding;
    color: $editor-foreground !important;
    background-color: $editor-background !important;
    border: none !important;

    &:active, &:focus, &:hover {
        border: none !important;
    }
}
