@charset 'utf-8';
@import  'variables';

.is-primary {
    color: $button-foreground !important;
    background-color: $button-background !important;
}

.is-info {
    border: solid 1px $editor-foreground !important;
    color: $editor-foreground !important;
    background-color: $editor-background !important;
}

.is-success {
    color: $button-foreground !important;
    background-color: #22CD22 !important;
}

.is-danger {
    color: $button-foreground !important;
    background-color: $red !important;
}