@charset 'utf-8';
@import 'variables';
@import 'colors';

.input {
    padding: $padding;
    background-color: $button-background !important;
    color: $editor-foreground !important;
    border-color: $editor-foreground !important;
    border-top-style: none !important;
    border-left-style: none !important;
    border-right-style: none !important;
    border-radius: $radius;

    &:active, &:focus {
        border-color: $button-foreground !important;
        border-top-style: none !important;
        border-left-style: none !important;
        border-right-style: none !important;
    }
}

    // https://code.visualstudio.com/api/references/theme-color