@charset 'utf-8';
@import 'variables';
@import 'colors';

.input {
    padding: $padding;
    background-color: $input-background !important;
    color: $input-foreground !important;
    border-bottom: solid 1px $button-background !important;
}
