@charset 'utf-8';
@import 'variables';
@import 'colors';

.input {
    padding: $padding;
    background-color: transparent !important;
    color: $input-foreground !important;
    border: none !important;
    border: none 1px $button-background !important;
    border-bottom-style: solid !important;
    width: 100%;
}
