@charset 'utf-8';
@import "reset";
@import "layout";
@import "variables";
@import "colors";
@import "button";
@import "card";
@import "input";

.dot-dot-dot {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.subtle {
    color: $input-placeholder-foreground;
}

.font-brand, .font-accent {
    font-weight: 900;
}

.font-brand {
    font-style: italic;
    // color: $button-background;
    color: var(--vscode-activity-bar-background);
}

.font-accent {
    color: var(--vscode-button-background);
}

body {
    background-color: $editor-background !important;
    color: $editor-foreground !important;
    font-family: var(--vscode-font-family);
	font-weight: var(--vscode-font-weight);
    font-size: var(--vscode-font-size);
    max-width: 98%;
}