@charset 'utf-8';
.dot-dot-dot {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}
