$padding: 1em;
$radius: 0;

$button-background: var(--vscode-button-background);
$button-foreground: var(--vscode-button-foreground);

$editor-background: var(--vscode-editor-background);
$editor-foreground: var(--vscode-editor-foreground);

$input-background: var(--vscode-input-background);
$input-foreground: var(--vscode-input-foreground);

$input-background: var(--vscode-input-background);
$input-border: var(--vscode-input-border);
$input-foreground: var(--vscode-input-foreground);
$input-placeholder-foreground: var(--vscode-input-placeholder-foreground);

$red: var(--vscode-input-validation-error-border);