@charset 'utf-8';
@import '../core';

.button {
    padding: $padding;
    background-color: transparent !important;
    color: $button-foreground !important;
    border: none !important;

    @extend .nofo;
}
