@charset 'utf-8';
@import '../core';

.button {
    padding: $padding;
    background-color: transparent !important;
    border: none !important;

    &:active, &:focus, &:hover {
        border: none !important;
        outline: none !important;
    }
}
